
@{
   

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aluno</title>
</head>
<body>
    <div>

        <h2>@ViewBag.Primeira</h2>
        <h2>@ViewData["Pri"]</h2>
        <h2>@ViewBag.Exemplo2</h2>
        <h2>@TempData["Exemplo3"]</h2>

        <h3>@Html.ActionLink("Google", "Google", "Aula")</h3>
    </div>
</body>
</html>
